node_modules
.vs
obj
/APICourse/CourseAPI/Course.Database/bin
bin
/APICourse/CourseAPI/Course.Database/Course.Database.dbmdl
/APICourse/CourseAPI/Course.Database/Course.Database.sqlproj.user
/APICourse/CourseAPI/CourseAPI/Course.API.csproj.user
